<div class="main-panel pt-0 pb-4">
    <div class="container-fluid">
        <!-- header -->
        <div class="col-sm-12 px-0">
            <button id="btn_edit_course" type="button" class="btn btn-sm btn-icon-only float-left mr-2"
                (click)="back()">
                <i class="fas fa-arrow-left"></i>
            </button>
            <h3 class="light-header">
                {{ compTitle }}
            </h3>
            <hr class="mt-0 mb-3" />
        </div>
        <!-- form -->
        <div class="col-sm-12 px-0">
            <form [formGroup]="formStudent">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                        formControlName="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                        formControlName="lastName">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="sample@sample.com"
                        formControlName="email">
                </div>
                <fieldset class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="gender_male" value="male"
                            formControlName="gender">
                        <label class="form-check-label" for="gender_male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="gender_female" value="female"
                            formControlName="gender">
                        <label class="form-check-label" for="gender_female">Female</label>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="form-row">
                        <div formArrayName="assignCourses"
                            *ngFor="let course of formStudent.controls.assignCourses['controls']; let i = index"
                            class="form-check form-check-inline border p-2 rounded bg-white">
                            <input class="form-check-input" type="checkbox" id="assign_courses" [formControlName]="i">
                            <label class="form-check-label">{{ allCoursesList[i].courseName }}</label>
                        </div>
                    </div>
                </fieldset>
                <hr class="mt-0 mb-3" />
                <button type="submit" class="btn btn-primary btn-sm float-right" (click)="saveStudent()"
                    [disabled]="!formStudent.valid">Save</button>
                <button type="submit" class="btn btn-secondary btn-sm float-right mx-2" (click)="back()">Cancel</button>
            </form>
        </div>
    </div>
</div>